# Auto detect text files and perform LF normalization
* text=auto

# Ignore some files when exporting to a ZIP.
/.gitattributes     export-ignore
/.gitignore         export-ignore
/LICENSE            export-ignore
/LICENSE.md         export-ignore
/README.md          export-ignore
/project.godot      export-ignore
/icon.png           export-ignore
/icon.svg           export-ignore
/default_env.tres	export-ignore
/tileset.png		export-ignore
/tileset.tres		export-ignore
/addons/AutotileGenerator/AutotileGeneratorTest.gd	export-ignore
/addons/AutotileGenerator/AutotileGeneratorTest.tscn	export-ignore

